@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
} 

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
} 

body {
    font-family: "Roboto-Regular";
    margin: 0;
}

header a {
    text-decoration: none;
    color: black;
}

header {
    font-family: "Roboto-Bold";
    padding: 0px 5% 0px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}

header img{
    width: 4%;
    padding: 1%;

}

.navbar {
    display: flex;
    list-style: none;
    
}

header>nav>ul>li{
    padding: 0 20px;
}

header>nav>ul li:not(:first-child){
    border-left: 1px solid black;
}

#vision {
    font-family: "Roboto-Bold";
    background-image: url(../img/banner.jpg);
    text-align: center;
    height: 56vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
}

#vision h1 {
    font-size: 4rem;
    margin: 0 15%;
    text-transform: uppercase;
}

#vision a {
    
        background-color: #FF4676;
        border-bottom: 1% solid #FF4676;;
        color: white;
        padding: 16px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 0px;
        cursor: pointer;
        border-radius: 4%;
}

#approche>h2, #approche>p {
    text-align: center;

}

.vousetes { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 5% 0;
}  

/* séparateur de section */

#approche>img {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

}

.methode-header{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 28vw 8vh;

 }

.methodes{
    margin: 14vh 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

 }
.methode{
width: 40%;
padding: 4vh 0;
text-align: center;
}


/* ACCOMPAGNEMENT HEADER*/

.accompagnement-header{
text-align: center;
margin-bottom: 10vh;
}
.accompagnement-header>p{
display: flex;
flex-direction: column;
padding-bottom: 2vh;

}
.accompagnement-header>h2{
    line-height: 1px;
}
/* 
ACCOMPAGNEMENT MAIN */

.accompagnements{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.accompagnement>ul li{
    list-style: none;
}

.btn{
    text-decoration: none;
    padding: 0.5rem 2rem;
    background-color: #FF4676;
    color: white;
    border-radius: 5px;
}
.talent::after{
    content: "TES TALENTS";
    display: block;
    background:linear-gradient(white 50%, rgb(0,255,255) 50%);
    margin: 0 auto;
    width: 50%;
}